.todo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 3%;
}
.personajes {
  border-radius: 4%;
  display: flex;
  background-color: rgb(128, 116, 116);
}
html {
  background: rgb(22, 22, 22);
}

img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  object-position: center center;
  object-fit: cover;
}

.imgyinfo {
  display: flex;
  justify-content: left;
}
